.faq_item {
    padding: 19px;
    background-color: #090c22;
    border-radius: 12px;
    border: 1px solid#1A1F39;
    transition: .2s all ease;
    cursor: pointer;

    &:hover{
        background-color: lighten(#090c22, 10%);
        border: 1px solid lighten(#1A1F39, 10%);
    }

    .question {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
            display: flex;
            align-items: center;
            gap: 15px;

            button {
                cursor: pointer;
                border: none;
                background-color: transparent;
                //outline: none;
                font-size: 20px;
                color: #fff;
            }

            p{
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    .answer{
        margin-top: 20px;
    }
}
